@using Bootstrap.Controllers
@using Microsoft.AspNet.Identity

@model Bootstrap.Models.GoalViewModel


@{
    ViewBag.Title = "Goals";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


@using (Html.BeginForm("Goals", "Goal", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create new goals.</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.RunStepGoal, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RunStepGoal, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.WalkStepGoal, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.WalkStepGoal, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TotalStepGoal, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TotalStepGoal, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CalGoal, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CalGoal, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DistGoal, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DistGoal, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
    <p>
        @Html.ActionLink("View Goals", "ViewGoals") if you don't want to change your goals.
    </p>
}