@using Bootstrap.Controllers
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "ViewGoals";
}

<h2>@User.Identity.GetUserName()</h2>
<h3>@ViewBag.Message</h3>

<div class="navbar navbar-default" id="RunSteps">
    <div class="navbar-header">
        @{
            double rsteps = double.Parse(GoalController.queryGoals(GoalController.getID(User.Identity.GetUserName()), "RunStepGoal"));
        }
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse" background-color="#00AEDD">
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Run Steps Taken: @rsteps</a>
    </div>
</div>

<div class="navbar navbar-lblue" id="WalkSteps">
    <div class="navbar-header">
        @{
            double wsteps = double.Parse(GoalController.queryGoals(GoalController.getID(User.Identity.GetUserName()), "WalkStepGoal"));
        }
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse" background-color="#00AEDD">
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Walk Steps Taken: @wsteps</a>
    </div>
</div>

<div class="navbar navbar-inverse" id="TotalSteps">
    <div class="navbar-header">
        @{
            double steps = double.Parse(GoalController.queryGoals(GoalController.getID(User.Identity.GetUserName()), "TotalStepGoal"));
        }
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse" background-color="#00AEDD">
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Total Steps Taken: @steps</a>
    </div>
</div>

<div class="navbar navbar-green" id="Calories">
    <div class="navbar-header">
        @{
            double cals = double.Parse(GoalController.queryGoals(GoalController.getID(User.Identity.GetUserName()), "CalGoal"));
        }
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Calories Burned: @cals</a>
    </div>
</div>

<div class="navbar navbar-purple" id="Distance">
    <div class="navbar-header">
        @{
            double dist = double.Parse(GoalController.queryGoals(GoalController.getID(User.Identity.GetUserName()), "DistGoal"));
        }
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Distance: @dist</a>
    </div>
</div>
